@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
}


.dropdownLink {
  display:block;
  padding:6px 0;
  transition:0.2s;
}

.dropdownLink:hover{
  color:#2563eb;
  padding-left:4px;
}


html {
  scroll-behavior: smooth;
}